.sidenav{
    width: 150px;
    background: #1c1c1c;
    opacity: 0.9;

}

.sidenav a{
    color: white;
    display: flex;
    align-items: center;
    
}

.sidenav a i{
    padding-right: 5px;
}

.content-home{
    padding: 16px;
    background: #fff;
}