<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    fixedTopGap="64"
    fixedBottomGap="64"
    opened
    fixedInViewport="true"
  >
    <!-- esta classes estranhas e para aparecer o nav  fixedGap e uma margin no top e bottom-->
    <mat-nav-list>
      <a mat-list-item><!-- colocar em coluna-->
        <i class="material-icons"> home </i>
        Inicio
      </a>
      <a mat-list-item>
        <i class="material-icons"> storefront </i>
        Loja
      </a>
    
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
